<header>
    <h1 id="nav-title">Loja de CDS</h1>
    <nav>
        <ul>
            <li><a href="/cds">CDS</a></li>
            <li><a href="/users/tela-login">LOGIN</a></li>
            <li><a href="/cds/cadastrar">CADASTRAR CD</a></li>
        </ul>
    </nav>
</header>